<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="📼 PicassoControl – <%= camId %>">
    <meta name="author" content="(c) 2025 https://github.com/y-neck">
    <link rel="stylesheet" href="/output.css">
    <title>📼 PicassoControl – <%= camName %>
    </title>
</head>

<body class="bg-gray-900 min-h-screen">
    <header class=" bg-gray-600 p-5 flex flex-col items-center h-fit w-full">
        <div id="logo" class="self-start">
            <a href="/" class="text-white">📼 PicassoControl</a>
        </div>
        <h1 class="text-white text-5xl text-center">Überwachungskamera</h1>
        <h2 class="text-3xl text-white text-center">
            <%= camName %>
        </h2>
    </header>
    <main class="flex flex-col">
        <a href="/" class="text-white m-5 p-2 bg-gray-600 rounded-lg text-center text-lg w-fit">← Zurück zur
            Übersicht</a>
        <div class="cam-container">
            <div class="cam-viewer w-1/2 max-h-[900px] border-2 border-gray-600 rounded-lg text-white" alt="Kamerabild"
                data-cam-id="<%= camId %>">
                <img src="/upload/default.png">
            </div>
        </div>
    </main>

</body>

<script src="/scripts/media-upload.js"></script>

<script>
    const viewer = document.querySelector('.cam-viewer');
    const camStorage = JSON.parse(sessionStorage.getItem('camStorage') || '{}');
    if (viewer && Object.keys(camStorage).length > 0) {
        try {
            const camId = viewer.dataset.camId;
            if (camStorage[camId]) {
                const newSrc = camStorage[camId];
                const img = viewer.querySelector('img');
                if (img) {
                    img.src = newSrc;
                    console.log('Viewer element data-camId:', camId);
                    console.log('Media src updated to:', newSrc);
                }
            }
        } catch (error) {
            console.error('Error parsing JSON in cam.ejs:', error);
        }
    }
</script>

<style>
    .cam-viewer,
    .cam-viewer img,
    video {
        @apply aspect-video w-1/2 max-h-[900px] object-contain;
    }
</style>

</html>